<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @slide_show_image.link %>
</p>

<p>
  <strong>Alttext:</strong>
  <%= @slide_show_image.altText %>
</p>

<p>
  <strong>Captiontext:</strong>
  <%= @slide_show_image.captionText %>
</p>

<p>
  <strong>Possition:</strong>
  <%= @slide_show_image.possition %>
</p>

<p>
  <strong>Right:</strong>
  <%= @slide_show_image.right %>
</p>

<p>
  <strong>Textallign:</strong>
  <%= @slide_show_image.textAllign %>
</p>

<p>
  <strong>Maxwidth:</strong>
  <%= @slide_show_image.maxWidth %>
</p>

<p>
  <strong>Top:</strong>
  <%= @slide_show_image.top %>
</p>

<p>
  <strong>Marginleft:</strong>
  <%= @slide_show_image.marginLeft %>
</p>

<%= link_to 'Edit', edit_slide_show_image_path(@slide_show_image) %> |
<%= link_to 'Back', slide_show_images_path %>
