<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :altText %><br>
    <%= f.text_field :altText %>
  </div>
  <div class="field">
    <%= f.label :captionText %><br>
    <%= f.text_area :captionText %>
  </div>
  <div class="field">
    <%= f.label :possition %><br>
    <%= f.number_field :possition %>
  </div>
  <div class="field">
    <%= f.label :right %><br>
    <%= f.number_field :right %>
  </div>
  <div class="field">
    <%= f.label :textAlign %><br>
    <%= f.text_field :textAlign %>
  </div>
  <div class="field">
    <%= f.label :maxWidth %><br>
    <%= f.number_field :maxWidth %>
  </div>
  <div class="field">
    <%= f.label :top %><br>
    <%= f.number_field :top %>
  </div>
  <div class="field">
    <%= f.label :marginLeft %><br>
    <%= f.number_field :marginLeft %>
  </div>
  <div class="field">
    <%= f.label :live %><br>
    <%= f.check_box :live %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
