<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @image.id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @image.link %>
</p>

<p>
  <strong>Alttext:</strong>
  <%= @image.altText %>
</p>

<p>
  <strong>Captiontext:</strong>
  <%= @image.captionText %>
</p>

<p>
  <strong>Possition:</strong>
  <%= @image.possition %>
</p>

<p>
  <strong>Right:</strong>
  <%= @image.right %>
</p>

<p>
  <strong>Textalign:</strong>
  <%= @image.textAlign %>
</p>

<p>
  <strong>Maxwidth:</strong>
  <%= @image.maxWidth %>
</p>

<p>
  <strong>Top:</strong>
  <%= @image.top %>
</p>

<p>
  <strong>Marginleft:</strong>
  <%= @image.marginLeft %>
</p>

<p>
  <strong>Live:</strong>
  <%= @image.live %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
